if: commit_message !~ /auto\/ci:\sset\sversion/
language: node_js
node_js:
  - "14.16.0"
git:
  depth: false
cache:
  directories:
    - node_modules
script:
  - git remote set-url origin https://$GITHUB_USER:$GITHUB_TOKEN@github.com/eigen-space/db-migrator-client.git
  - yarn lint
  # We use additional dashes here `--` because
  # It is needed to separate the params passed to npm command itself and params passed to your script
  - yarn build && npm run deploy:publish -- --branch=$TRAVIS_BRANCH